<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdvModelViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdvModelViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <userSettings>
        <AdvModelViewer.Properties.Settings>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="FormSplitterDistance" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="FormGridColumn0Width" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="RecentModelsList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="RecentEffectsList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="RenderWireframeColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="RenderBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="RecentlyUsedFilesMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ContentModelGenerateTangents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContenTextureGenerateMipmaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderShowAxisGizmo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ContentModelSwapWindingOrder" serializeAs="String">
                <value>False</value>
            </setting>
        </AdvModelViewer.Properties.Settings>
    </userSettings>
  
    <applicationSettings>
        <AdvModelViewer.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>Adventures Model Viewer</value>
            </setting>
            <setting name="AdvModelViewer_AdvBugServiceRef_BugService" serializeAs="String">
                <value>http://www.adventures.dk/reportservice/BugService.asmx</value>
            </setting>
            <setting name="AppUrl" serializeAs="String">
                <value>http://www.adventures.dk/Pages/Project.aspx?bid=70&amp;app=modelviewer10</value>
            </setting>
        </AdvModelViewer.Properties.Settings>
    </applicationSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>